* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: none !important;
}

body {
  margin: 0px;
  padding: 0px;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0px;
  padding: 0px;
}

ol,
ul,
li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: block;
}

ol li,
ul li,
li li {
  list-style-type: none;
}

ol li a,
ul li a,
li li a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #00BAB4;
}

a:hover {
  color: #483a3b;
}

button {
  outline: none !important;
  cursor: pointer;
  background: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a:hover,
a:focus {
  text-decoration: none;
}

a img {
  border: 0;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

img {
  border: 0;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

label {
  font-weight: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-animation: autofill 0s forwards;
  animation: autofill 0s forwards;
}

@-webkit-keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

@font-face {
  font-family: "GT Walsheim Regular";
  src: local("GT Walsheim Pro Regular"), local("GT-Walsheim-Pro-Regular"), url("../fonts/GTWalsheimPro-Regular.woff2") format("woff2"), url("../fonts/GTWalsheimPro-Regular.woff") format("woff"), url("../fonts/GTWalsheimPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Thin";
  src: local("GT Walsheim Pro Thin"), local("GT-Walsheim-Pro-Thin"), url("../fonts/GTWalsheimPro-Thin.woff2") format("woff2"), url("../fonts/GTWalsheimPro-Thin.woff") format("woff"), url("../fonts/GTWalsheimPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Bold";
  src: local("GT Walsheim Pro Bold"), local("GT-Walsheim-Pro-Bold"), url("../fonts/GTWalsheimPro-Bold.woff2") format("woff2"), url("../fonts/GTWalsheimPro-Bold.woff") format("woff"), url("../fonts/GTWalsheimPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* respo */
/* clearfix */
.button-outer {
  padding-top: 17px;
  padding-right: 45px;
  padding-bottom: 17px;
  padding-left: 45px;
  font-size: 16px;
  font-size: 1rem;
  color: #000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0 12px 26px #00000039;
  box-shadow: 0 12px 26px #00000039;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: inline-block;
  text-align: center;
  font-family: "GT Walsheim bold";
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .button-outer {
    padding-top: 12px;
    padding-right: 30px;
    padding-bottom: 12px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .button-outer {
    padding-top: 12px;
    padding-right: 30px;
    padding-bottom: 12px;
    padding-left: 30px;
  }
}

.button-outer.border-radius-large {
  border-radius: 35px 0 35px 35px;
  -webkit-border-radius: 35px 0 35px 35px;
  -moz-border-radius: 35px 0 35px 35px;
  padding-top: 20px;
  padding-right: 45px;
  padding-bottom: 20px;
  padding-left: 45px;
}

.button-outer:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.button--secondary {
  background: -webkit-gradient(linear, left top, right top, from(#fdff11), color-stop(50%, #fdff11), color-stop(50%, #000), to(#000));
  background: linear-gradient(90deg, #fdff11 0%, #fdff11 50%, #000 50%, #000 100%);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: right bottom;
  background-position: left bottom;
}

.button--secondary:hover {
  background-position: left bottom;
  background-position: right bottom;
}

.button--secondary:hover {
  color: #fff;
}

.button--primary {
  background: -webkit-gradient(linear, left top, right top, from(#299ff4), color-stop(50%, #299ff4), color-stop(50%, #000), to(#000));
  background: linear-gradient(90deg, #299ff4 0%, #299ff4 50%, #000 50%, #000 100%);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: right bottom;
  background-position: left bottom;
  color: #fff;
}

.button--primary:hover {
  background-position: left bottom;
  background-position: right bottom;
}

.button--primary:hover {
  color: #fff;
}

.button--dark {
  background: -webkit-gradient(linear, left top, right top, from(#2d3e50), color-stop(50%, #2d3e50), color-stop(50%, #299ff4), to(#299ff4));
  background: linear-gradient(90deg, #2d3e50 0%, #2d3e50 50%, #299ff4 50%, #299ff4 100%);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: right bottom;
  background-position: left bottom;
  color: #fff;
}

.button--dark:hover {
  background-position: left bottom;
  background-position: right bottom;
}

.button--dark:hover {
  color: #fff;
}

/* custom checkboxes and radio */
.radios,
.checkboxes {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.radios label,
.checkboxes label {
  cursor: pointer;
  line-height: 1rem;
}

.radios input[type="checkbox"],
.radios input[type="radio"],
.checkboxes input[type="checkbox"],
.checkboxes input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.radios input[type="checkbox"] + label,
.radios input[type="radio"] + label,
.checkboxes input[type="checkbox"] + label,
.checkboxes input[type="radio"] + label {
  position: relative;
  padding-top: 2px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 30px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-size: 1rem;
}

.radios input[type="checkbox"] + label:before,
.radios input[type="radio"] + label:before,
.checkboxes input[type="checkbox"] + label:before,
.checkboxes input[type="radio"] + label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background: #fff;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.radios input[type="checkbox"] + label:after,
.radios input[type="radio"] + label:after,
.checkboxes input[type="checkbox"] + label:after,
.checkboxes input[type="radio"] + label:after {
  content: "";
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

.radios input[type="checkbox"] + label:after,
.checkboxes input[type="checkbox"] + label:after {
  background-color: transparent;
  content: "";
  display: block;
  position: absolute;
  left: 8px;
  top: 5px;
  width: 5px;
  height: 9px;
  opacity: 0;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

.radios input[type="checkbox"]:checked + label:before,
.checkboxes input[type="checkbox"]:checked + label:before {
  content: "";
  background: #299ff4;
  border: 1px solid #299ff4;
}

.radios input[type="checkbox"]:checked + label:after,
.checkboxes input[type="checkbox"]:checked + label:after {
  content: "";
  opacity: 1;
}

.radios input[type="radio"] + label:before, .radios input[type="radio"] + label:after,
.checkboxes input[type="radio"] + label:before,
.checkboxes input[type="radio"] + label:after {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.radios input[type="radio"] + label:after,
.checkboxes input[type="radio"] + label:after {
  left: 6px;
  top: 6px;
  width: 8px;
  height: 8px;
}

.radios input[type="radio"]:checked + label:before,
.checkboxes input[type="radio"]:checked + label:before {
  -webkit-animation: borderscale 300ms ease-in;
          animation: borderscale 300ms ease-in;
}

.radios input[type="radio"]:checked + label:after,
.checkboxes input[type="radio"]:checked + label:after {
  background: #299ff4;
  -webkit-transform: scale(1);
  transform: scale(1);
}

header nav {
  /* Landscape phones and down */
  /* Landscape phones and down */
}

header nav.navbar {
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-top: 40px;
  padding-right: 0;
  padding-bottom: 30px;
  padding-left: 0;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header nav.navbar {
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header nav.navbar {
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;
  }
}

header nav .navbar-nav {
  margin-left: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header nav .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header nav .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header nav .navbar-nav .nav-link {
  font-size: 16px;
  font-size: 1rem;
  text-transform: capitalize;
  color: #fff !important;
  padding: 0 0 0 0 !important;
  position: relative;
  margin-top: 0;
  margin-right: 50px;
  margin-bottom: 0;
  margin-left: 50px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

header nav .navbar-nav .nav-link::before {
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background: #000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  content: "";
}

@media (max-width: 767px) {
  header nav .navbar-nav .nav-link {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
    color: #000 !important;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header nav .navbar-nav .nav-link {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
    color: #000 !important;
  }
}

header nav .navbar-nav .nav-link:hover {
  color: #000 !important;
}

header nav .navbar-nav .nav-link:hover::before {
  width: 15px;
}

@media (max-width: 767px) {
  header nav .navbar-collapse {
    background: #fff;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    position: relative;
  }
  header nav .navbar-collapse:before {
    bottom: 100%;
    right: 5%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 8px;
    margin-left: -8px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header nav .navbar-collapse {
    background: #fff;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    position: relative;
  }
  header nav .navbar-collapse:before {
    bottom: 100%;
    right: 2%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 8px;
    margin-left: -8px;
  }
}

header .logo {
  background: url("../images/ole_logo_white.svg") no-repeat;
  width: 74px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-size: 74px 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header.header-scroll nav {
  padding: 20px 0 20px 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 30px #4c5c5b1a;
          box-shadow: 0px 5px 30px #4c5c5b1a;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

header.header-scroll nav .nav-link {
  color: #000 !important;
}

@media (max-width: 767px) {
  header.header-scroll nav {
    padding: 10px 0 10px 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header.header-scroll nav {
    padding: 10px 0 10px 0;
  }
}

header.header-scroll .logo {
  background: url("../images/ole_logo.svg") no-repeat;
}

.icon-bar {
  width: 26px;
  height: 3px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  background-color: #000;
  display: block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 4px;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
  position: absolute;
  right: 25px;
  top: 18px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  /* Landscape phones and down */
}

@media (min-width: 768px) and (max-width: 979px) {
  .navbar-toggler {
    right: 42px;
  }
}

.navbar-toggler:focus {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-toggler .top-bar {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
          transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
          transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

footer .footer-left {
  background: #f3fffe;
  padding-top: 100px;
  padding-right: 50px;
  padding-bottom: 100px;
  padding-left: 100px;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  footer .footer-left {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  footer .footer-left {
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
  }
}

footer .footer-left .footer-logo {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 35px;
  margin-left: 0;
  display: inline-block;
}

footer .footer-left .newsletter-form {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 60px;
  margin-left: 0;
}

footer .footer-left .newsletter-form .input-wrapper {
  border: 1px solid #299ff4;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 46px;
  width: 70%;
  position: relative;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  footer .footer-left .newsletter-form .input-wrapper {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  footer .footer-left .newsletter-form .input-wrapper {
    width: 100%;
  }
}

footer .footer-left .newsletter-form .input-wrapper .form-control {
  background: none;
  border: 0;
  height: 46px;
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;
  font-size: 14px;
  font-size: 0.875rem;
  font-family: "GT Walsheim thin";
}

footer .footer-left .newsletter-form .input-wrapper .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

footer .footer-left .newsletter-form .input-wrapper .submit-btn {
  background: #299ff4;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
  right: -1px;
  top: -1px;
  line-height: 48px;
}

footer .footer-left .newsletter-form .input-wrapper .submit-btn:hover {
  background: #000;
  -webkit-box-shadow: 0 5px 24px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 24px rgba(0, 0, 0, 0.2);
}

footer .footer-left .newsletter-form .input-wrapper .submit-btn:hover .bi::before {
  color: #fff;
}

footer .footer-left .newsletter-form .input-wrapper .submit-btn .bi::before {
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer .footer-left .follow-us h3 {
  color: #000958;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  font-size: 18px;
  font-size: 1.125rem;
}

footer .footer-left .follow-us ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-left .follow-us ul li a {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: #fff;
  color: #2d3e50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 16px 56px #d3843554;
          box-shadow: 0px 16px 56px #d3843554;
  margin-top: 0;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 0;
}

footer .footer-left .follow-us ul li a:hover {
  background: #000;
  color: #fff;
  -webkit-box-shadow: 0 5px 24px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 24px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

footer .footer-right {
  margin-top: 50px;
  margin-right: 0;
  margin-bottom: 100px;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  footer .footer-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  footer .footer-right {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

footer .footer-right h3 {
  color: #000958;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  font-size: 18px;
  font-size: 1.125rem;
}

footer .footer-right .footer-link {
  width: 50%;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  footer .footer-right .footer-link {
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
  }
}

footer .footer-right .footer-link .links-group .links-item {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

footer .footer-right .footer-link .links-group .links-item .link {
  font-size: 14px;
  font-size: 0.875rem;
  color: #656689;
  position: relative;
}

footer .footer-right .footer-link .links-group .links-item .link::before {
  content: "";
  position: absolute;
  left: 0;
  width: 6px;
  height: 6px;
  top: 5px;
  background: #299ff4;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
}

footer .footer-right .footer-link .links-group .links-item .link:hover {
  color: #299ff4;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 15px;
}

footer .footer-right .footer-link .links-group .links-item .link:hover:before {
  opacity: 10;
}

footer .footer-right .contact-info {
  width: 50%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 70px;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  footer .footer-right .contact-info {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  footer .footer-right .contact-info {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  footer .footer-right .contact-info {
    width: 100%;
  }
}

footer .footer-right .contact-info p {
  font-size: 14px;
  font-size: 0.875rem;
  color: #656689;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

footer .copyright-text {
  font-size: 14px;
  font-size: 0.875rem;
  color: #656689;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  footer .copyright-text {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  footer .copyright-text {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

.scrollup {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 99;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  bottom: 40px;
  right: 40px;
  background: #299ff4;
  color: #fff;
  display: none;
  text-align: center;
  line-height: 50px;
  opacity: 0;
  -webkit-animation: fadeInRight 0.8s ease forwards;
          animation: fadeInRight 0.8s ease forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .scrollup {
    right: 20px;
  }
}

.scrollup span.top-arrow {
  display: block;
  position: relative;
  top: 0px;
  margin: 5px auto 0;
}

.scrollup span .bi {
  font-size: 24px;
  font-size: 1.5rem;
}

.scrollup:hover {
  background: #fdff11;
}

.scrollup:hover span.top-arrow {
  -webkit-animation: arrowMove 0.8s linear infinite;
}

@-webkit-keyframes arrowMove {
  0% {
    top: 0%;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0%;
  }
}

@keyframes arrowMove {
  0% {
    top: 0%;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0%;
  }
}

.landing-footer {
  background: #f8fafd;
  padding-top: 50px;
  padding-right: 0;
  padding-bottom: 50px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-footer .footer-text {
  font-size: 14px;
  font-size: 0.875rem;
  color: #656689;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .landing-footer .footer-text {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 30px;
    padding-left: 0;
    text-align: center;
  }
}

.landing-footer .follow-us ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .landing-footer .follow-us ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.landing-footer .follow-us ul li a {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: #fff;
  color: #2d3e50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 16px 56px #d3843554;
          box-shadow: 0px 16px 56px #d3843554;
  margin-top: 0;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 0;
}

.landing-footer .follow-us ul li a:hover {
  background: #000;
  color: #fff;
  -webkit-box-shadow: 0 5px 24px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 24px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.app-screen-slider {
  position: relative;
  width: 100%;
  padding-bottom: 209.477897%;
  margin-top: 50px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  /* Landscape phones and down */
}

.app-screen-slider::before {
  width: 170px;
  height: 40px;
  background: #0f0f0f;
  content: "";
  position: absolute;
  top: 0;
  border-radius: 0 0 15px 15px;
  -webkit-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  z-index: 11;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .app-screen-slider::before {
    width: 150px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .app-screen-slider::before {
    width: 90px;
    height: 25px;
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
  }
}

.app-screen-slider .swiper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(../images/device-bg@2x.png) no-repeat;
  background-size: 100%;
  /* overflow: inherit; */
}

.app-screen-slider .screen {
  overflow: hidden;
  position: absolute;
  top: 11px;
  bottom: 19px;
  left: 14px;
  right: 12px;
  /* Landscape phones and down */
}

@media (min-width: 768px) and (max-width: 979px) {
  .app-screen-slider .screen {
    top: 7px;
    bottom: 10px;
    left: 8px;
    right: 8px;
  }
}

.app-screen-slider .screen img {
  width: 100%;
  height: 100%;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  /* Landscape phones and down */
}

@media (min-width: 768px) and (max-width: 979px) {
  .app-screen-slider .screen img {
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
  }
}

@media (max-width: 767px) {
  .app-screen-slider {
    margin-top: 50px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    left: 0;
    background-size: 100%;
    width: 100%;
    height: auto;
  }
}

.app-screen-slider .slider-holder__caption {
  background: #fff;
  position: absolute;
  top: 265px;
  left: -110px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  -webkit-box-shadow: 0 10px 30px #5d5e634a;
          box-shadow: 0 10px 30px #5d5e634a;
  border-radius: 22px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: none;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

.app-screen-slider .slider-holder__caption img {
  width: 100%;
}

@media (max-width: 767px) {
  .app-screen-slider .slider-holder__caption {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .app-screen-slider .slider-holder__caption {
    display: none;
  }
}

.app-screen-slider .swiper-slide-active .slider-holder__caption {
  -webkit-animation: 1s 0.2s fadeInLeft both;
          animation: 1s 0.2s fadeInLeft both;
}

.app-screen-slider .swiper-pagination {
  bottom: -35px !important;
  /*  @include breakpoint(sm) {
            bottom: -105px !important;
        } */
}

.top-hero-section {
  background: #b1fff626;
  overflow: hidden;
}

.top-hero-section .top-blue-section {
  padding-top: 110px;
  padding-right: 0;
  padding-bottom: 80px;
  padding-left: 0;
  background: url(../images/curve-bg.svg) no-repeat;
  background-position: center -235px;
  background-size: contain;
  overflow: hidden;
  position: relative;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .top-hero-section .top-blue-section {
    background-position: center -136px;
  }
}

@media (max-width: 767px) {
  .top-hero-section .top-blue-section {
    padding-top: 110px;
    padding-right: 0;
    padding-bottom: 80px;
    padding-left: 0;
    background-position: center -195px;
    background-size: inherit;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .top-hero-section .top-blue-section {
    padding-top: 60px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    background-position: center -235px;
    background-size: inherit;
  }
}

.top-hero-section .top-blue-section .main-caption {
  color: #fff;
  margin-top: 70px;
  margin-right: 0;
  margin-bottom: 150px;
  margin-left: 0;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .top-hero-section .top-blue-section .main-caption {
    margin-top: 70px;
    margin-right: 0;
    margin-bottom: 70px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .top-hero-section .top-blue-section .main-caption {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 100px;
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .top-hero-section .top-blue-section .main-caption {
    margin-top: 70px;
    margin-right: 0;
    margin-bottom: 80px;
    margin-left: 0;
  }
}

.top-hero-section .top-blue-section .main-caption h1 {
  font-family: "GT Walsheim bold";
  font-size: 52px;
  font-size: 3.25rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .top-hero-section .top-blue-section .main-caption h1 {
    font-size: 35px;
    font-size: 2.1875rem;
  }
}

@media (max-width: 767px) {
  .top-hero-section .top-blue-section .main-caption h1 {
    font-size: 28px;
    font-size: 1.75rem;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .top-hero-section .top-blue-section .main-caption h1 {
    font-size: 32px;
    font-size: 2rem;
  }
}

.top-hero-section .top-blue-section .main-caption p {
  font-size: 28px;
  font-size: 1.75rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
  font-family: "GT Walsheim thin";
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .top-hero-section .top-blue-section .main-caption p {
    font-size: 22px;
    font-size: 1.375rem;
  }
}

@media (max-width: 767px) {
  .top-hero-section .top-blue-section .main-caption p {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .top-hero-section .top-blue-section .main-caption p {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

.top-hero-section .top-blue-section .main-caption .caption-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .top-hero-section .top-blue-section .main-caption .caption-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.top-hero-section .top-blue-section .main-caption .caption-buttons .button-outer {
  margin-top: 0;
  margin-right: 40px;
  margin-bottom: 0;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .top-hero-section .top-blue-section .main-caption .caption-buttons .button-outer {
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.top-hero-section .top-blue-section .main-caption .caption-buttons .watch-video-button {
  display: block;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .top-hero-section .top-blue-section .main-caption .caption-buttons .watch-video-button {
    display: none;
  }
}

.top-hero-section .top-blue-section .main-caption .caption-buttons .watch-video-button:before {
  width: 70px;
  height: 70px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  content: "";
  position: absolute;
  left: -10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.top-hero-section .top-blue-section .main-caption .caption-buttons .watch-video-button .bi:before {
  font-size: 52px;
  font-size: 3.25rem;
  color: #fff;
  position: relative;
  z-index: 1;
}

.top-hero-section .top-blue-section .main-caption .caption-buttons .watch-video-button .text {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 25px;
}

.top-hero-section .top-blue-section .main-caption .caption-buttons .watch-video-button:hover {
  color: #000;
}

.top-hero-section .top-blue-section .main-caption .caption-buttons .watch-video-button:hover::before {
  background: rgba(0, 0, 0, 0.4);
}

.top-hero-section .app-content h2 {
  color: #000;
  font-size: 45px;
  font-size: 2.8125rem;
  font-family: "GT Walsheim bold";
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .top-hero-section .app-content h2 {
    font-size: 35px;
    font-size: 2.1875rem;
  }
}

@media (max-width: 767px) {
  .top-hero-section .app-content h2 {
    font-size: 32px;
    font-size: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .top-hero-section .app-content h2 {
    font-size: 32px;
    font-size: 2rem;
  }
}

.top-hero-section .app-content .app-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .top-hero-section .app-content .app-stats {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

.top-hero-section .app-content .app-stats .col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
}

.top-hero-section .app-content .app-stats .col__lg-text {
  color: #0f2253;
  font-size: 40px;
  font-size: 2.5rem;
  font-family: "GT Walsheim bold";
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .top-hero-section .app-content .app-stats .col__lg-text {
    font-size: 35px;
    font-size: 2.1875rem;
  }
}

@media (max-width: 767px) {
  .top-hero-section .app-content .app-stats .col__lg-text {
    font-size: 32px;
    font-size: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .top-hero-section .app-content .app-stats .col__lg-text {
    font-size: 32px;
    font-size: 2rem;
  }
}

.top-hero-section .app-content .app-stats .col__sm-text {
  color: #656689;
  font-size: 16px;
  font-size: 1rem;
  font-family: "GT Walsheim thin";
}

.top-hero-section .app-content .app-buttons {
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 40px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .top-hero-section .app-content .app-buttons {
    border-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .top-hero-section .app-content .app-buttons a {
    width: 50%;
  }
}

.growing-with-us {
  overflow: hidden;
}

.growing-with-us .custom-card {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 60px;
  margin-left: 15px;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0px 5px 15px #0000000f;
          box-shadow: 0px 5px 15px #0000000f;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .growing-with-us .custom-card {
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 60px;
    margin-left: 15px;
  }
}

.growing-with-us .custom-card__figure-holder {
  height: 145px;
  overflow: hidden;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

.growing-with-us .custom-card__figure-holder img {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.growing-with-us .custom-card .caption {
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.growing-with-us .custom-card .caption__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
}

.growing-with-us .custom-card .caption__title {
  color: #26334a;
  font-size: 20px;
  font-size: 1.25rem;
  font-family: "GT Walsheim bold";
  margin-top: 0;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 0;
}

.growing-with-us .custom-card .caption__rating {
  color: #26334a;
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: "GT Walsheim thin";
}

.growing-with-us .custom-card .caption__rating .bi::before {
  color: #ff990a;
}

.growing-with-us .custom-card .caption__likes {
  color: #26334a;
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: "GT Walsheim thin";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.growing-with-us .custom-card .caption__likes .bi:before {
  color: #49d483;
  font-size: 22px;
  font-size: 1.375rem;
}

.growing-with-us .custom-card .caption__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "GT Walsheim thin";
  color: #9d9d9d;
  font-size: 14px;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .growing-with-us .custom-card .caption__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .growing-with-us .custom-card .caption__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.growing-with-us .custom-card .caption__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .growing-with-us .custom-card .caption__location {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
  }
}

.growing-with-us .custom-card .caption__location .bi {
  margin-top: 0;
  margin-right: 5px;
  margin-bottom: 0;
  margin-left: 0;
}

.growing-with-us .custom-card .caption__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .growing-with-us .custom-card .caption__time {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .growing-with-us .custom-card .caption__time {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.growing-with-us .custom-card .caption__time .bi {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 5px;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .growing-with-us .custom-card .caption__time .bi {
    margin-top: 0;
    margin-right: 5px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .growing-with-us .custom-card .caption__time .bi {
    margin-top: 0;
    margin-right: 5px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.growing-with-us .custom-card:hover {
  -webkit-box-shadow: 0 5px 24px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 24px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.growing-with-us .custom-card:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.growing-with-us .custom-card:hover .caption__title {
  color: #299ff4;
}

.vertical-tabs-section {
  background: #fafafa;
  overflow: hidden;
}

.vertical-tabs-section .nav {
  height: 550px;
  overflow: auto;
  /* Landscape phones and down */
}

.vertical-tabs-section .nav::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.vertical-tabs-section .nav::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

.vertical-tabs-section .nav::-webkit-scrollbar-track {
  background: transparent;
}

@media (max-width: 767px) {
  .vertical-tabs-section .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    white-space: nowrap;
    width: 100%;
    overflow: auto;
    height: auto;
  }
}

.vertical-tabs-section .nav .nav-link {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 45px;
  border: 2px solid #ebebeb;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background: #fff;
  color: #000958;
  height: 77px;
  width: 100%;
  font-size: 22px;
  font-size: 1.375rem;
  text-align: left;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: block;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .vertical-tabs-section .nav .nav-link {
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 0;
    height: 60px;
    font-size: 18px;
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .vertical-tabs-section .nav .nav-link {
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 0;
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 30px;
    height: 50px;
    font-size: 16px;
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .vertical-tabs-section .nav .nav-link {
    font-size: 18px;
    font-size: 1.125rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 30px;
    height: 50px;
  }
}

.vertical-tabs-section .nav .nav-link:before {
  height: 22px;
  background: #ebebeb;
  width: 2px;
  content: "";
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 50%;
  left: 30px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .vertical-tabs-section .nav .nav-link:before {
    left: 15px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .vertical-tabs-section .nav .nav-link:before {
    left: 15px;
  }
}

.vertical-tabs-section .nav .nav-link:after {
  height: 0;
  background: #299ff4;
  width: 2px;
  content: "";
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 50%;
  left: 30px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .vertical-tabs-section .nav .nav-link:after {
    left: 15px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .vertical-tabs-section .nav .nav-link:after {
    left: 15px;
  }
}

.vertical-tabs-section .nav .nav-link:hover {
  -webkit-box-shadow: 0px 13px 46px #0000001a;
          box-shadow: 0px 13px 46px #0000001a;
  border: 2px solid #299ff4;
  color: #299ff4;
}

.vertical-tabs-section .nav .nav-link:hover:after {
  height: 22px;
}

.vertical-tabs-section .nav .nav-link.active {
  -webkit-box-shadow: 0px 13px 46px #0000001a;
          box-shadow: 0px 13px 46px #0000001a;
  border: 2px solid #299ff4;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .vertical-tabs-section .nav .nav-link.active {
    -webkit-box-shadow: 0px 5px 10px #0000001a;
            box-shadow: 0px 5px 10px #0000001a;
  }
}

.vertical-tabs-section .nav .nav-link.active:after {
  height: 22px;
}

.vertical-tabs-section .tab-content {
  padding-top: 0;
  padding-right: 70px;
  padding-bottom: 70px;
  padding-left: 70px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .vertical-tabs-section .tab-content {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

.vertical-tabs-section .tab-content .device {
  position: relative;
  width: 100%;
  padding-bottom: 209.477897%;
}

.vertical-tabs-section .tab-content .device::before {
  width: 130px;
  height: 40px;
  background: #0f0f0f;
  content: "";
  position: absolute;
  top: 0;
  border-radius: 0 0 20px 20px;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  z-index: 11;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  /* Landscape phones and down */
}

@media (min-width: 768px) and (max-width: 979px) {
  .vertical-tabs-section .tab-content .device::before {
    height: 30px;
    width: 110px;
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
  }
}

.vertical-tabs-section .tab-content .device .wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(../images/device-bg@2x.png) no-repeat;
  background-size: 100%;
  overflow: hidden;
}

.vertical-tabs-section .tab-content .device .screen {
  overflow: hidden;
  position: absolute;
  top: 9px;
  bottom: 15px;
  left: 10px;
  right: 11px;
}

.vertical-tabs-section .tab-content .device .screen img {
  width: 100%;
  height: 100%;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .vertical-tabs-section .tab-content .device .screen img {
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .vertical-tabs-section .tab-content .device .screen img {
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
  }
}

.vertical-tabs-section .tab-content .device.device-b {
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .vertical-tabs-section .tab-content .device.device-b {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .vertical-tabs-section .tab-content .device.device-b {
    display: none;
  }
}

.info-cards {
  overflow: hidden;
}

.info-cards .custom-card {
  background: #ffffff;
  border: 1px solid #efefef;
  overflow: hidden;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .info-cards .custom-card {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

.info-cards .custom-card__figure-holder {
  height: 220px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Landscape phones and down */
}

@media (min-width: 768px) and (max-width: 979px) {
  .info-cards .custom-card__figure-holder {
    height: 170px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }
}

.info-cards .custom-card__figure-holder img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.info-cards .custom-card--figure-holder-purple {
  background: #d3d3ff;
}

.info-cards .custom-card--figure-holder-blue {
  background: #d3f4ec;
}

.info-cards .custom-card--figure-holder-pink {
  background: #ffe9d3;
}

.info-cards .custom-card .caption {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  height: 200px;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .info-cards .custom-card .caption {
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .info-cards .custom-card .caption {
    height: auto;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
}

.info-cards .custom-card .caption__title {
  color: #000;
  font-size: 22px;
  font-size: 1.375rem;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;
  font-family: "GT Walsheim bold";
}

.info-cards .custom-card .caption__detail {
  color: #6a7177;
  font-size: 16px;
}

.info-cards .custom-card:hover {
  -webkit-box-shadow: 0 5px 24px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 24px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.download-our-app {
  background: #299ff4;
  width: 100%;
}

.download-our-app .figure-holder {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .download-our-app .figure-holder {
    height: 550px;
  }
}

@media (max-width: 767px) {
  .download-our-app .figure-holder {
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
    overflow: hidden;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .download-our-app .figure-holder {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    height: auto;
    overflow: hidden;
    width: 100%;
  }
}

.download-our-app .figure-holder img {
  width: 150%;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .download-our-app .figure-holder img {
    width: 200%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 110px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .download-our-app .figure-holder img {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 130px;
    width: 100%;
  }
}

.download-our-app .right-content {
  height: 700px;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .download-our-app .right-content {
    height: 550px;
  }
}

@media (max-width: 767px) {
  .download-our-app .right-content {
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .download-our-app .right-content {
    height: auto;
  }
}

.download-our-app .right-content .caption {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 600px;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .download-our-app .right-content .caption {
    height: auto;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .download-our-app .right-content .caption {
    height: auto;
  }
}

.download-our-app .right-content .caption .main-title {
  color: #fff;
  font-size: 40px;
  font-size: 2.5rem;
  font-family: "GT Walsheim bold";
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .download-our-app .right-content .caption .main-title {
    font-size: 35px;
    font-size: 2.1875rem;
  }
}

@media (max-width: 767px) {
  .download-our-app .right-content .caption .main-title {
    font-size: 28px;
    font-size: 1.75rem;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .download-our-app .right-content .caption .main-title {
    font-size: 32px;
    font-size: 2rem;
  }
}

.download-our-app .right-content .caption .sub-title {
  color: #fff;
  font-size: 18px;
  font-size: 1.125rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .download-our-app .right-content .caption .sub-title {
    font-size: 16px;
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .download-our-app .right-content .caption .sub-title {
    font-size: 15px;
    font-size: 0.9375rem;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .download-our-app .right-content .caption .sub-title {
    font-size: 15px;
    font-size: 0.9375rem;
  }
}

.download-our-app .right-content .caption .app-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .download-our-app .right-content .caption .app-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .download-our-app .right-content .caption .app-buttons {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 50px;
    margin-left: 0;
  }
}

.download-our-app .right-content .caption .app-buttons .button {
  border: 2px solid #fff;
  display: inline-block;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  color: #fff;
  font-family: "GT Walsheim bold";
  font-size: 18px;
  font-size: 1.125rem;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .download-our-app .right-content .caption .app-buttons .button {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
  }
}

.download-our-app .right-content .caption .app-buttons .button:hover {
  -webkit-box-shadow: 0 5px 24px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 24px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  background: #fff;
  color: #000;
}

.download-our-app .right-content .caption .app-buttons .button img {
  margin-top: 0;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 0;
  width: 25%;
}

.download-our-app .title-head .main-title {
  color: #fff;
}

.download-our-app .title-head .sub-title {
  color: #fff;
}

.form-wrapper .title-head {
  width: 100%;
}

.form-wrapper .form-content {
  -webkit-box-shadow: 0px 15px 50px #0607070f;
          box-shadow: 0px 15px 50px #0607070f;
  background: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .form-wrapper .form-content {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

.form-wrapper .form-content .form-group {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
}

.form-wrapper .form-content .form-control {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  height: 50px;
  font-size: 16px;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fcfcfc;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.form-wrapper .form-content .form-control.placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form-wrapper .form-content .form-control:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form-wrapper .form-content .form-control::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form-wrapper .form-content .form-control:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form-wrapper .form-content .form-control::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form-wrapper .form-content .form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  border: 1px solid #299ff4;
  background: #fafdff;
}

.form-wrapper .form-content label {
  color: #394761;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

.form-wrapper .figure-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  margin-top: 100px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .form-wrapper .figure-holder {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .form-wrapper .figure-holder {
    display: none;
  }
}

.form-wrapper .figure-holder img {
  width: 250%;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .form-wrapper .figure-holder img {
    width: 100%;
  }
}

.landing-header {
  background: #fff;
  height: 90px;
}

.landing-header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
}

.landing-header .header-inner .logo {
  background: url("../images/ole_logo.svg") no-repeat;
  width: 74px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-size: 74px 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-landing-items {
  padding-top: 40px;
  padding-right: 0;
  padding-bottom: 40px;
  padding-left: 0;
}

.main-landing-items .landing-custom-card {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 60px;
  margin-left: 15px;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0px 5px 15px #0000000f;
          box-shadow: 0px 5px 15px #0000000f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .main-landing-items .landing-custom-card {
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 60px;
    margin-left: 15px;
  }
}

.main-landing-items .landing-custom-card__figure-holder {
  height: 280px;
  overflow: hidden;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

.main-landing-items .landing-custom-card__figure-holder img {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.main-landing-items .landing-custom-card__title {
  color: #2d3e50;
  font-size: 20px;
  font-size: 1.25rem;
  font-family: "GT Walsheim bold";
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.main-landing-items .landing-custom-card:hover {
  -webkit-box-shadow: 0 5px 24px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 24px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.main-landing-items .landing-custom-card:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.main-landing-items .landing-custom-card:hover .caption__title {
  color: #299ff4;
}

.player-hero-section {
  overflow: hidden;
  padding-top: 110px;
  padding-right: 0;
  padding-bottom: 80px;
  padding-left: 0;
  background: url(../images/ole-player-base-header-bg.svg) no-repeat;
  background-position: center -55px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .player-hero-section {
    padding-top: 110px;
    padding-right: 0;
    padding-bottom: 40px;
    padding-left: 0;
  }
}

.player-hero-section .main-caption {
  color: #000;
  margin-top: 70px;
  margin-right: 0;
  margin-bottom: 150px;
  margin-left: 0;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .player-hero-section .main-caption {
    margin-top: 70px;
    margin-right: 0;
    margin-bottom: 70px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .player-hero-section .main-caption {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 50px;
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .player-hero-section .main-caption {
    margin-top: 70px;
    margin-right: 0;
    margin-bottom: 80px;
    margin-left: 0;
  }
}

.player-hero-section .main-caption h1 {
  font-family: "GT Walsheim bold";
  font-size: 80px;
  font-size: 5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  text-transform: capitalize;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .player-hero-section .main-caption h1 {
    font-size: 60px;
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .player-hero-section .main-caption h1 {
    font-size: 28px;
    font-size: 1.75rem;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .player-hero-section .main-caption h1 {
    font-size: 32px;
    font-size: 2rem;
  }
}

.player-hero-section .main-caption p {
  font-size: 28px;
  font-size: 1.75rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
  font-family: "GT Walsheim thin";
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .player-hero-section .main-caption p {
    font-size: 22px;
    font-size: 1.375rem;
  }
}

@media (max-width: 767px) {
  .player-hero-section .main-caption p {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .player-hero-section .main-caption p {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

.player-hero-section .app-content h2 {
  color: #000;
  font-size: 45px;
  font-size: 2.8125rem;
  font-family: "GT Walsheim bold";
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .player-hero-section .app-content h2 {
    font-size: 35px;
    font-size: 2.1875rem;
  }
}

@media (max-width: 767px) {
  .player-hero-section .app-content h2 {
    font-size: 28px;
    font-size: 1.75rem;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .player-hero-section .app-content h2 {
    font-size: 32px;
    font-size: 2rem;
  }
}

.player-hero-section .app-content .app-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .player-hero-section .app-content .app-stats {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

.player-hero-section .app-content .app-stats .col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .player-hero-section .app-content .app-stats .col {
    width: 25%;
  }
}

.player-hero-section .app-content .app-stats .col__lg-text {
  color: #0f2253;
  font-size: 40px;
  font-size: 2.5rem;
  font-family: "GT Walsheim bold";
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  .player-hero-section .app-content .app-stats .col__lg-text {
    font-size: 35px;
    font-size: 2.1875rem;
  }
}

@media (max-width: 767px) {
  .player-hero-section .app-content .app-stats .col__lg-text {
    font-size: 32px;
    font-size: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .player-hero-section .app-content .app-stats .col__lg-text {
    font-size: 32px;
    font-size: 2rem;
  }
}

.player-hero-section .app-content .app-stats .col__sm-text {
  color: #656689;
  font-size: 16px;
  font-size: 1rem;
  font-family: "GT Walsheim thin";
}

.player-hero-section .app-content .app-buttons {
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 40px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .player-hero-section .app-content .app-buttons {
    border-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .player-hero-section .app-content .app-buttons a {
    width: 50%;
  }
}

.player-hero-section .figure-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .player-hero-section .figure-holder {
    display: none;
  }
}

.player-hero-section .figure-holder img {
  width: 100%;
}

.player-hero-section header .logo {
  background: url("../images/ole_logo.svg") no-repeat;
}

.info-section {
  height: 1000px;
  overflow: hidden;
  position: relative;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .info-section {
    height: auto;
  }
}

.info-section .title-head {
  width: 100%;
}

.info-section figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1000px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .info-section figcaption {
    height: auto;
    padding-top: 200px;
  }
}

.info-section.left {
  background: url(../images/bg-left@2x.png) no-repeat center center;
  background-size: cover;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .info-section.left {
    background: none;
  }
}

.info-section.left .figure-holder {
  position: absolute;
  left: -365px;
  width: 65%;
  bottom: 100px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .info-section.left .figure-holder {
    left: 0;
    top: 0;
  }
}

.info-section.right {
  background: url(../images/bg-right@2x.png) no-repeat center center;
  background-size: cover;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .info-section.right {
    background: none;
  }
}

.info-section.right .figure-holder {
  position: absolute;
  right: 365px;
  width: 65%;
  bottom: 200px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .info-section.right .figure-holder {
    left: 0;
    top: 0;
  }
}

.player-app-feature {
  background: url(../images/curve_image.svg) no-repeat top center;
  background-size: cover;
  padding-top: 200px;
  padding-right: 0;
  padding-bottom: 200px;
  padding-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .player-app-feature {
    padding-top: 50px;
    padding-right: 0;
    padding-bottom: 50px;
    padding-left: 0;
    background: #299ff4;
  }
}

.player-app-feature .feature-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.player-app-feature .feature-group__item {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 60px;
  margin-left: 0;
  position: relative;
}

.player-app-feature .feature-group__item::before {
  width: 8px;
  height: 8px;
  background: #faad13;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  position: absolute;
  content: "";
  top: -29px;
  left: 6px;
}

.player-app-feature .feature-group__item::after {
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  position: absolute;
  content: "";
  top: -35px;
  left: 0;
}

.player-app-feature .feature-group__title {
  font-size: 20px;
  font-size: 1.25rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0;
  color: #fff;
}

.player-app-feature .feature-group__desc {
  font-size: 16px;
  font-size: 1rem;
  color: #fafafb;
}

.player-app-feature .feature-group.left .feature-group__item {
  text-align: right;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .player-app-feature .feature-group.left .feature-group__item {
    text-align: left;
  }
}

.player-app-feature .feature-group.left .feature-group__item::before {
  right: 6px;
  left: initial;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .player-app-feature .feature-group.left .feature-group__item::before {
    left: 6px;
  }
}

.player-app-feature .feature-group.left .feature-group__item::after {
  right: 0;
  left: initial;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .player-app-feature .feature-group.left .feature-group__item::after {
    left: 0;
  }
}

.app-screenshoot-wrap {
  background: url(../images/bg@2x.png) no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

.app-screenshoot-wrap .figure-holder img {
  width: 100%;
}

.download-our-app__player figure img {
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .download-our-app__player figure img {
    margin-left: 0 !important;
  }
}

.line-up-hero-section {
  padding-top: 110px;
  padding-right: 0;
  padding-bottom: 80px;
  padding-left: 0;
  background: url(../images/line-up-hero-bg.png) no-repeat;
  background-size: cover;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .line-up-hero-section {
    padding-top: 110px;
    padding-right: 0;
    padding-bottom: 40px;
    padding-left: 0;
  }
}

.line-up-hero-section .main-caption {
  color: #fff;
}

.line-up-hero-section .app-content {
  position: relative;
  z-index: 1;
}

.line-up-hero-section .app-content h2 {
  color: #fff;
}

.line-up-hero-section .app-content .col__lg-text {
  color: #fff !important;
}

.line-up-hero-section .app-content .col__sm-text {
  color: #fff !important;
}

.line-up-hero-section .app-content .app-buttons {
  border-color: #fff;
}

.line-up-hero-section figure img {
  width: 200% !important;
}

.amazing-features .custom-card {
  background: #f4f8f9;
  border-radius: 34px;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.amazing-features .custom-card .icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 88px;
  height: 88px;
  background: transparent linear-gradient(227deg, #156978 0%, #0096af 100%) 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 30px 200px #17191a1a;
          box-shadow: 0px 30px 200px #17191a1a;
  border: 1px solid #ffffff0d;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 0;
}

.amazing-features .custom-card .icon-wrap i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.amazing-features .custom-card .icon-wrap i::before {
  color: #fff;
  font-size: 30px;
  font-size: 1.875rem;
}

.amazing-features .custom-card figcaption {
  width: 80%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.amazing-features .custom-card figcaption h3 {
  font-size: 22px;
  font-size: 1.375rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  font-family: "GT Walsheim bold";
}

.amazing-features .custom-card figcaption p {
  font-size: 16px;
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.amazing-features .custom-card:hover {
  -webkit-box-shadow: 0 5px 24px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 24px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  background: #fff;
}

.awesome-features {
  overflow: hidden;
}

.awesome-features .feature-item {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.awesome-features .feature-item .icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 94px;
  height: 94px;
  background: #327f88;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 0;
}

.awesome-features .feature-item .icon-wrap i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.awesome-features .feature-item .icon-wrap i::before {
  color: #fff;
  font-size: 30px;
  font-size: 1.875rem;
}

.awesome-features .feature-item figcaption {
  width: 80%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.awesome-features .feature-item figcaption h3 {
  font-size: 22px;
  font-size: 1.375rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  font-family: "GT Walsheim bold";
}

.awesome-features .feature-item figcaption p {
  font-size: 16px;
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.awesome-features .feature-item:first-child {
  margin-left: -60px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .awesome-features .feature-item:first-child {
    margin-left: 0;
  }
}

.awesome-features .feature-item:last-child {
  margin-left: -60px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .awesome-features .feature-item:last-child {
    margin-left: 0;
  }
}

.awesome-features figure {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
}

.line-up-app-screens-wrap {
  overflow: hidden;
}

.line-up-app-screens-wrap .swiper {
  overflow: visible;
}

.line-up-app-screens-wrap .line-up-app-slider {
  position: relative;
}

.line-up-app-screens-wrap .line-up-app-slider::before {
  background: url(../images/bg-top-left.png) no-repeat;
  content: "";
  top: -150px;
  background-size: 100%;
  left: -100px;
  width: 30%;
  height: 100%;
  position: absolute;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .line-up-app-screens-wrap .line-up-app-slider::before {
    display: none;
  }
}

.line-up-app-screens-wrap .line-up-app-slider::after {
  background: url(../images/bg-right-bottom.png) no-repeat;
  content: "";
  bottom: -150px;
  background-size: 100%;
  right: -100px;
  width: 30%;
  height: 100%;
  position: absolute;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .line-up-app-screens-wrap .line-up-app-slider::after {
    display: none;
  }
}

.line-up-app-screens-wrap .line-up-app-slider figure img {
  width: 140%;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .line-up-app-screens-wrap .line-up-app-slider figure img {
    width: 100%;
  }
}

.how-does-app-work {
  background: #f4f8f9;
  position: relative;
  padding-top: 50px;
  padding-right: 0;
  padding-bottom: 50px;
  padding-left: 0;
  overflow: hidden;
}

.how-does-app-work::before {
  background: url(../images/bg-line-up@2x.png) no-repeat;
  content: "";
  bottom: 0;
  background-size: 100%;
  right: -150px;
  width: 50%;
  height: 500px;
  position: absolute;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .how-does-app-work::before {
    display: none;
  }
}

.how-does-app-work figure {
  position: relative;
  z-index: 11;
}

.how-does-app-work .app-benefits {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  position: relative;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .how-does-app-work .app-benefits {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.how-does-app-work .app-benefits::before {
  content: "";
  position: absolute;
  top: -5px;
  background: url(../images/line@2x.png) no-repeat center;
  height: 60px;
  width: 100%;
  background-size: 75%;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .how-does-app-work .app-benefits::before {
    display: none;
  }
}

.how-does-app-work .app-benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
}

.how-does-app-work .app-benefits__icon-wrap {
  width: 56px;
  height: 56px;
  background: #327f88;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .how-does-app-work .app-benefits__icon-wrap {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
  }
}

.how-does-app-work .app-benefits__icon-wrap i::before {
  color: #fff;
}

.how-does-app-work .app-benefits__title {
  font-family: "GT Walsheim bold";
  font-size: 22px;
  font-size: 1.375rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  text-align: center;
}

.how-does-app-work .app-benefits__desc {
  font-size: 16px;
  font-size: 1rem;
  text-align: center;
}

.how-does-app-work .app-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .how-does-app-work .app-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .how-does-app-work .app-buttons {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 50px;
    margin-left: 0;
  }
}

.how-does-app-work .app-buttons .button {
  border: 2px solid #fff;
  display: inline-block;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  color: #000;
  background: #fff;
  font-family: "GT Walsheim bold";
  font-size: 18px;
  font-size: 1.125rem;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .how-does-app-work .app-buttons .button {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
    width: 50%;
  }
}

.how-does-app-work .app-buttons .button img {
  margin-top: 0;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 0;
  width: 20%;
}

.how-does-app-work .app-buttons .button:hover {
  -webkit-box-shadow: 0 5px 24px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 24px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  background: #000;
  color: #fff;
}

body {
  font-family: "GT Walsheim Regular";
  color: #312b2b;
}

a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}

.wow {
  visibility: hidden;
}

/* Landscape phones and down */
@media (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
  .column-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .row-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

main {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  main {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}

.bg-white {
  background: #fff;
}

.bg-light-grey {
  background: rgba(0, 0, 0, 0.04) !important;
}

.text-bold {
  font-family: "GT Walsheim bold";
}

.text-white {
  color: #fff;
}

.text-black {
  color: #299ff4;
}

.text-blue {
  color: #fdff11;
}

section {
  padding-top: 70px;
  padding-right: 0;
  padding-bottom: 70px;
  padding-left: 0;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  section {
    padding-top: 50px;
    padding-right: 0;
    padding-bottom: 50px;
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  section {
    padding-top: 40px;
    padding-right: 0;
    padding-bottom: 40px;
    padding-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  section {
    padding-top: 40px;
    padding-right: 0;
    padding-bottom: 40px;
    padding-left: 0;
  }
}

section .title-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 auto 60px;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  section .title-head {
    margin: 0 auto 40px;
  }
}

@media (max-width: 767px) {
  section .title-head {
    width: 100%;
    margin: 0 auto 40px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  section .title-head {
    width: 100%;
    margin: 0 auto 40px;
  }
}

section .title-head .main-title {
  color: #0b1219;
  font-size: 40px;
  font-size: 2.5rem;
  font-family: "GT Walsheim bold";
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  text-transform: capitalize;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  section .title-head .main-title {
    font-size: 35px;
    font-size: 2.1875rem;
  }
}

@media (max-width: 767px) {
  section .title-head .main-title {
    font-size: 32px;
    font-size: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  section .title-head .main-title {
    font-size: 32px;
    font-size: 2rem;
  }
}

section .title-head .sub-title {
  color: #5f6a77;
  font-size: 18px;
  font-size: 1.125rem;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  section .title-head .sub-title {
    font-size: 16px;
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  section .title-head .sub-title {
    font-size: 15px;
    font-size: 0.9375rem;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  section .title-head .sub-title {
    font-size: 15px;
    font-size: 0.9375rem;
  }
}

section .title-head.white-text h2 {
  color: #fff;
}

section .title-head.white-text p {
  color: #fff;
}

section.section-margin {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 100px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  section.section-margin {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}

section.nopadding {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

/* .owl-dots {
  opacity: 0;
  animation: fadeInUp 0.8s ease forwards;
  animation-delay: 0.5s;
  position: relative;
  top: 20px;

  .owl-dot {
    span {
      background: none !important;
      border: 1px solid $black-color !important;
      margin: 4px !important;
    }
  }
  .owl-dot.active {
    span {
      background: $brand-second-color !important;
      border: 1px solid $brand-second-color !important;
      position: relative;
    }
  }
}

.owl-nav {
  position: absolute;
  top: 35%;
  width: 100%;
  font-size: 0;

  .owl-prev {
    position: absolute;
    left: -60px;
    background: none !important;

    &:before {
      content: "\f12c";
      font-family: "bootstrap-icons";
      position: absolute;
      left: 0;
      font-size: 22px;
      top: -10px;
      height: 40px;
      line-height: 38px;
      width: 40px;
      text-align: center;
      @include border-radius(50%);
      border: 2px solid $brand-color;
      color: $brand-color;
      @include transition;
    }
    &:hover {
      &:before {
        background: $brand-color;
        color: $white-color;
      }
    }
  }
  .owl-next {
    position: absolute;
    background: none !important;
    right: -60px;

    &:before {
      content: "\f135";
      font-family: "bootstrap-icons";
      position: absolute;
      right: 0;
      font-size: 22px;
      top: -10px;
      height: 40px;
      line-height:38px;
      width: 40px;
      text-align: center;
      @include border-radius(50%);
      border: 2px solid $brand-color;
      color: $brand-color;
      @include transition;
    }

    &:hover {
      &:before {
        background: $brand-color;
        color: $white-color;
      }
    }
  }
} */
.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}

.modal-body {
  position: relative;
  padding: 0px;
}

.btn-close {
  position: absolute;
  right: -70px;
  top: 0;
  background: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  opacity: 10;
}
/*# sourceMappingURL=style-en.css.map */