@import "base/reset", "base/typography";

@import "partials/variables", "partials/layout", "partials/mixins";

@import "components/ui-elements";

@import "layout/header", "layout/footer";

@import "pages/index", "pages/landing", "pages/ole-player", "pages/ole-line-up";
body {
  font-family: $font-regular;
  color: #312b2b;
}
h1,
h2,
h3 {
}
a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}
.wow {
  visibility: hidden;
}

@include breakpoint(sm) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
  .column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .row-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
}

main {
  @include padding(0, 0, 0, 0);

  @include breakpoint(sm) {
    @include padding(0, 0, 0, 0);
  }
}

.bg-white {
  background: $white-color;
}
.bg-light-grey {
  background: rgba($black-color, 0.04) !important;
}
.text-bold {
  font-family: $font-bold;
}
.text-white {
  color: $white-color;
}
.text-black {
  color: $brand-color;
}
.text-blue {
  color: $brand-second-color;
}

section {
  @include padding(70px, 0, 70px, 0);

  @include breakpoint(lp) {
    @include padding(50px, 0, 50px, 0);
  }

  @include breakpoint(sm) {
    @include padding(40px, 0, 40px, 0);
  }

  @include breakpoint(md) {
    @include padding(40px, 0, 40px, 0);
  }

  .title-head {
    @include flex-center;
    width: 60%;
    flex-direction: column;
    text-align: center;
    margin: 0 auto 60px;

    @include breakpoint(lp) {
      margin: 0 auto 40px;
    }

    @include breakpoint(sm) {
      width: 100%;
      margin: 0 auto 40px;
    }

    @include breakpoint(md) {
      width: 100%;
      margin: 0 auto 40px;
    }

    .main-title {
      color: #0b1219;
      @include font-size(40px);
      font-family: $font-bold;
      @include margin(0, 0, 30px, 0);
      text-transform: capitalize;

      @include breakpoint(lp) {
        @include font-size(35px);
      }

      @include breakpoint(sm) {
        @include font-size(32px);
      }
      @include breakpoint(md) {
        @include font-size(32px);
      }
    }
    .sub-title {
      color: #5f6a77;
      @include font-size(18px);

      @include breakpoint(lp) {
        @include font-size(16px);
      }

      @include breakpoint(sm) {
        @include font-size(15px);
      }
      @include breakpoint(md) {
        @include font-size(15px);
      }
    }
    &.white-text {
      h2 {
        color: $white-color;
      }
      p {
        color: $white-color;
      }
    }
  }
  &.section-margin {
    @include margin(0, 0, 100px, 0);

    @include breakpoint(sm) {
      @include margin(0, 0, 0, 0);
    }
  }
  &.nopadding {
    @include padding(0, 0, 0, 0);
  }
}

/* .owl-dots {
  opacity: 0;
  animation: fadeInUp 0.8s ease forwards;
  animation-delay: 0.5s;
  position: relative;
  top: 20px;

  .owl-dot {
    span {
      background: none !important;
      border: 1px solid $black-color !important;
      margin: 4px !important;
    }
  }
  .owl-dot.active {
    span {
      background: $brand-second-color !important;
      border: 1px solid $brand-second-color !important;
      position: relative;
    }
  }
}

.owl-nav {
  position: absolute;
  top: 35%;
  width: 100%;
  font-size: 0;

  .owl-prev {
    position: absolute;
    left: -60px;
    background: none !important;

    &:before {
      content: "\f12c";
      font-family: "bootstrap-icons";
      position: absolute;
      left: 0;
      font-size: 22px;
      top: -10px;
      height: 40px;
      line-height: 38px;
      width: 40px;
      text-align: center;
      @include border-radius(50%);
      border: 2px solid $brand-color;
      color: $brand-color;
      @include transition;
    }
    &:hover {
      &:before {
        background: $brand-color;
        color: $white-color;
      }
    }
  }
  .owl-next {
    position: absolute;
    background: none !important;
    right: -60px;

    &:before {
      content: "\f135";
      font-family: "bootstrap-icons";
      position: absolute;
      right: 0;
      font-size: 22px;
      top: -10px;
      height: 40px;
      line-height:38px;
      width: 40px;
      text-align: center;
      @include border-radius(50%);
      border: 2px solid $brand-color;
      color: $brand-color;
      @include transition;
    }

    &:hover {
      &:before {
        background: $brand-color;
        color: $white-color;
      }
    }
  }
} */

.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}

.modal-body {
  position: relative;
  padding: 0px;
}
.btn-close {
  position: absolute;
  right: -70px;
  top: 0;
  background: white;
  height: 30px;
  width: 30px;
  @include border-radius(50%);
  opacity: 10;
}
