footer {
  .footer-left {
    background: #f3fffe;
    @include padding(100px, 50px, 100px, 100px);

    @include breakpoint(sm) {
      @include padding(20px, 20px, 20px, 20px);
    }
    @include breakpoint(md) {
      @include padding(40px, 40px, 40px, 40px);
    }

    .footer-logo {
      @include margin(0, 0, 35px, 0);
      display: inline-block;
    }

    .newsletter-form {
      @include margin(0, 0, 60px, 0);
      .input-wrapper {
        border: 1px solid $brand-color;
        @include border-radius(50px);
        display: flex;
        height: 46px;
        width: 70%;
        position: relative;

        @include breakpoint(sm) {
          width: 100%;
        }
        @include breakpoint(md) {
          width: 100%;
        }
        .form-control {
          background: none;
          border: 0;
          height: 46px;
          @include padding(0, 20px, 0, 20px);
          @include font-size(14px);
          font-family: $font-thin;
          &:focus {
            box-shadow: none;
          }
        }
        .submit-btn {
          background: $brand-color;
          width: 46px;
          height: 46px;
          @include border-radius(50%);
          @include transition;
          position: absolute;
          right: -1px;
          top: -1px;
          line-height: 48px;
          &:hover {
            background: $black-color;
            @include box-shadow(0, 5px, 24px, black(0.2));
            .bi {
              &::before {
                color: $white-color;
              }
            }
          }
          .bi {
            &::before {
              color: $white-color;
              @include font-size(20px);
              @include transition;
            }
          }
        }
      }
    }
    .follow-us {
      h3 {
        color: #000958;
        @include margin(0, 0, 20px, 0);
        @include font-size(18px);
      }
      ul {
        display: flex;
        li {
          a {
            width: 32px;
            height: 32px;
            @include border-radius(50%);
            background: $white-color;
            color: $dark-grey-color;
            @include flex-center;
            box-shadow: 0px 16px 56px #d3843554;
            @include margin(0, 15px, 0, 0);

            &:hover {
              background: $black-color;
              color: $white-color;
              @include card-hover;
            }
          }
        }
      }
    }
  }
  .footer-right {
    @include margin(50px, 0, 100px, 0);
    display: flex;

    @include breakpoint(sm) {
      flex-direction: column;
      @include margin(50px, 0, 20px, 0);
    }

    @include breakpoint(md) {
      @include margin(0, 0, 30px, 0);
    }

    h3 {
      color: #000958;
      @include margin(0, 0, 20px, 0);
      @include font-size(18px);
    }
    .footer-link {
      width: 50%;

      @include breakpoint(sm) {
        width: 100%;
        @include margin(0, 0, 20px, 0);
      }

      .links-group {
        .links-item {
          @include margin(0, 0, 10px, 0);
          .link {
            @include font-size(14px);
            color: #656689;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              left: 0;
              width: 6px;
              height: 6px;
              top: 5px;
              background: $brand-color;
              @include border-radius(50%);
              @include transition;
              opacity: 0;
            }
            &:hover {
              color: $brand-color;
              @include padding(0, 0, 0, 15px);
              &:before {
                opacity: 10;
              }
            }
          }
        }
      }
    }
    .contact-info {
      width: 50%;
      @include margin(0, 0, 0, 70px);

      @include breakpoint(sm) {
        @include margin(0, 0, 0, 0);
      }
      @include breakpoint(md) {
        @include margin(0, 0, 0, 20px);
      }

      @include breakpoint(sm) {
        width: 100%;
      }
      p {
        @include font-size(14px);
        color: #656689;
        @include margin(0, 0, 10px, 0);
      }
    }
  }
  .copyright-text {
    @include font-size(14px);
    color: #656689;
    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
    }
    @include breakpoint(md) {
      @include margin(0, 0, 30px, 0);
    }
  }
}

.scrollup {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 99;
  @include border-radius(50px);
  bottom: 40px;
  right: 40px;
  background: $brand-color;
  color: $white-color;
  display: none;
  text-align: center;
  line-height: 50px;
  opacity: 0;
  animation: fadeInRight 0.8s ease forwards;
  animation-delay: 0.8s;

  @include breakpoint(sm) {
    right: 20px;
  }

  span {
    &.top-arrow {
      display: block;
      position: relative;
      top: 0px;
      margin: 5px auto 0;
    }
    .bi {
      @include font-size(24px);
    }
  }

  &:hover {
    background: $brand-second-color;
    span {
      &.top-arrow {
        -webkit-animation: arrowMove 0.8s linear infinite;
      }
    }
  }
}

@keyframes arrowMove {
  0% {
    top: 0%;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0%;
  }
}

.landing-footer {
  background: #f8fafd;
  @include padding(50px, 0, 50px, 0);
  display: flex;
  align-items: center;
  .footer-text {
    @include font-size(14px);
    color: #656689;

    @include breakpoint(sm) {
      @include padding(0, 0, 30px, 0);
      text-align: center;
    }
  }
  .follow-us {
    ul {
      display: flex;
      justify-content: flex-end;

      @include breakpoint(sm) {
        justify-content: center;
      }

      li {
        a {
          width: 32px;
          height: 32px;
          @include border-radius(50%);
          background: $white-color;
          color: $dark-grey-color;
          @include flex-center;
          box-shadow: 0px 16px 56px #d3843554;
          @include margin(0, 15px, 0, 0);

          &:hover {
            background: $black-color;
            color: $white-color;
            @include card-hover;
          }
        }
      }
    }
  }
}
