header {
  nav {
    &.navbar {
      width: 100%;
      @include transition();
      @include padding(40px, 0, 30px, 0);

      @include breakpoint(sm) {
        @include padding(20px, 0, 20px, 0);
      }
      @include breakpoint(md) {
        @include padding(20px, 0, 20px, 0);
      }
    }

    .navbar-nav {
      margin-left: auto !important;
      @include flex-center-vert;
      @include margin(0, 0, 0, 0);

      @include breakpoint(sm) {
        flex-direction: column;
      }
      @include breakpoint(md) {
        flex-direction: column;
      }
      .nav-link {
        @include font-size(16px);
        text-transform: capitalize;
        color: $white-color !important;
        padding: 0 0 0 0 !important;
        position: relative;
        @include margin(0, 50px, 0, 50px);
        position: relative;
        @include transition;
        &::before {
          position: absolute;
          left: 0;
          bottom: -10px;
          width: 0;
          height: 2px;
          background: $black-color;
          @include transition;
          content: "";
        }

        @include breakpoint(sm) {
          @include margin(0, 0, 30px, 0);
          color: $black-color !important;
        }
        @include breakpoint(md) {
          @include margin(0, 0, 30px, 0);
          color: $black-color !important;
        }
        &:hover {
          color: $black-color !important;
          &::before {
            width: 15px;
          }
        }
        &.active {
        }
      }
    }
    @include breakpoint(sm) {
      .navbar-collapse {
        background: $white-color;
        @include padding(30px, 30px, 30px, 30px);
        @include border-radius(7px);
        position: relative;
        &:before {
          bottom: 100%;
          right: 5%;
          border: solid transparent;
          content: "";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(255, 255, 255, 0);
          border-bottom-color: #ffffff;
          border-width: 8px;
          margin-left: -8px;
        }
      }
    }
    @include breakpoint(md) {
      .navbar-collapse {
        background: $white-color;
        @include padding(30px, 30px, 30px, 30px);
        @include border-radius(7px);
        position: relative;
        &:before {
          bottom: 100%;
          right: 2%;
          border: solid transparent;
          content: "";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(255, 255, 255, 0);
          border-bottom-color: #ffffff;
          border-width: 8px;
          margin-left: -8px;
        }
      }
    }
  }

  .logo {
    background: url("../images/ole_logo_white.svg") no-repeat;
    width: 74px;
    height: 40px;
    display: inline-flex;
    background-size: 74px 40px;
    align-items: center;
    white-space: nowrap;
    @include padding(0, 0, 0, 0);
    @include transition;
  }
}

header.header-scroll {
  nav {
    padding: 20px 0 20px 0;
    background-color: $white-color;
    box-shadow: 0px 5px 30px #4c5c5b1a;
    .nav-link {
      color: $black-color !important;
    }

    @include breakpoint(sm) {
      padding: 10px 0 10px 0;
    }
    @include breakpoint(md) {
      padding: 10px 0 10px 0;
    }
  }
  .logo {
    background: url("../images/ole_logo.svg") no-repeat;
  }
}

.icon-bar {
  width: 26px;
  height: 3px;
  @include border-radius(50px);
  background-color: $black-color;
  display: block;
  @include transition;
  margin-top: 4px;
}
.navbar-toggler {
  border: none;
  background: transparent !important;
  position: absolute;
  right: 25px;
  top: 18px;
  @include padding(0, 0, 0, 0);

  @include breakpoint(md) {
    right: 42px;
  }
  &:focus {
    background: none;
    box-shadow: none;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  &.collapsed {
    .top-bar {
      transform: rotate(0);
    }
    .middle-bar {
      opacity: 1;
    }
    .bottom-bar {
      transform: rotate(0);
    }
  }
}
