.button-outer {
  @include padding(17px, 45px, 17px, 45px);
  @include font-size(16px);
  color: $black-color;
  @include border-radius(5px);
  @include button-shadow();
  @include transition();
  display: inline-block;
  text-align: center;
  font-family: $font-bold;
  @include breakpoint(lp) {
    @include padding(12px, 30px, 12px, 30px);
  }
  @include breakpoint(sm) {
    @include padding(12px, 30px, 12px, 30px);
  }

  &.border-radius-large {
    @include border-radius(35px 0 35px 35px);
    @include padding(20px, 45px, 20px, 45px);
  }

  &:hover {
    @include button-hover();
  }
}

.button--secondary {
  @include background-transition($black-color, $brand-second-color, true);
  &:hover {
    color: $white-color;
  }
}
.button--primary {
  @include background-transition($black-color, $brand-color, true);
  color: $white-color;
  &:hover {
    color: $white-color;
  }
}
.button--dark {
  @include background-transition($brand-color, $dark-grey-color, true);
  color: $white-color;
  &:hover {
    color: $white-color;
  }
}

/* custom checkboxes and radio */
.radios,
.checkboxes {
  @include margin(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  label {
    cursor: pointer;
    line-height: 1rem;
  }
  @mixin vh() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  input[type="checkbox"],
  input[type="radio"] {
    @include vh();
    &:focus {
      + label {
        &:before {
        }
      }
    }
    + label {
      position: relative;
      @include padding(2px, 0, 0, 30px);
      @include margin(0, 0, 0, 0);
      user-select: none;
      color: $light-grey-color;
      @include font-size(16px);
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid $border-grey-color;
        @include border-radius(3px);
        background: $white-color;
        text-align: center;
        @include transition();
      }
      &:after {
        content: "";
        position: absolute;
        transform: scale(0);
        transition: transform 200ms ease-out;
      }
    }
  }

  input[type="checkbox"] {
    + label {
      &:after {
        background-color: transparent;
        content: "";
        display: block;
        position: absolute;
        left: 8px;
        top: 5px;
        width: 5px;
        height: 9px;
        opacity: 0;
        border-bottom: 2px solid $white-color;
        border-right: 2px solid $white-color;
        @include transform(rotate(45deg));
        transition: border-color 0.3s ease;
      }
    }
    &:checked {
      + label {
        &:before {
          content: "";
          background: $brand-color;
          border: 1px solid $brand-color;
        }

        &:after {
          content: "";
          opacity: 1;
        }
      }
    }
  }

  input[type="radio"] {
    + label {
      &:before,
      &:after {
        @include border-radius(50%);
      }
      &:after {
        left: 6px;
        top: 6px;
        width: 8px;
        height: 8px;
      }
    }
    &:checked {
      + label {
        &:before {
          animation: borderscale 300ms ease-in;
        }
        &:after {
          background: $brand-color;
          @include transform(scale(1));
        }
      }
    }
  }
}
