
@font-face {
    font-family: "GT Walsheim Regular";
    src: local("GT Walsheim Pro Regular"), local("GT-Walsheim-Pro-Regular"),
        url("../fonts/GTWalsheimPro-Regular.woff2") format("woff2"),
        url("../fonts/GTWalsheimPro-Regular.woff") format("woff"),
        url("../fonts/GTWalsheimPro-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "GT Walsheim Thin";
    src: local("GT Walsheim Pro Thin"), local("GT-Walsheim-Pro-Thin"),
        url("../fonts/GTWalsheimPro-Thin.woff2") format("woff2"), url("../fonts/GTWalsheimPro-Thin.woff") format("woff"),
        url("../fonts/GTWalsheimPro-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "GT Walsheim Bold";
    src: local("GT Walsheim Pro Bold"), local("GT-Walsheim-Pro-Bold"),
        url("../fonts/GTWalsheimPro-Bold.woff2") format("woff2"), url("../fonts/GTWalsheimPro-Bold.woff") format("woff"),
        url("../fonts/GTWalsheimPro-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
