// colors
$brand-color: #299ff4;
$brand-second-color: #fdff11;
$black-color: #000; // black color
$white-color: #fff; // white color
$light-grey-color: rgba($black-color, 0.2);
$border-grey-color: rgba($black-color, 0.1);
$dark-grey-color: #2d3e50;
$text-grey-color: rgba($black-color, 0.5);
$dark-brown-shade-1: #483a3b;
$dark-brown-shade-2: #312b2b;
$dark-brown-shade-3: #3f1912;
// fonts

$font-regular: "GT Walsheim Regular";
$font-thin: "GT Walsheim thin";
$font-bold: "GT Walsheim bold";
