.app-screen-slider {
  position: relative;
  width: 100%;
  padding-bottom: 209.477897%;
  @include margin(50px, 0, 0, 0);
  &::before {
    width: 170px;
    height: 40px;
    background: #0f0f0f;
    content: "";
    position: absolute;
    top: 0;
    @include border-radius(0 0 15px 15px);
    z-index: 11;
    left: 50%;
    transform: translateX(-50%);

    @include breakpoint(sm) {
      width: 150px;
    }
    @include breakpoint(md) {
      width: 90px;
      height: 25px;
      @include border-radius(0 0 10px 10px);
    }
  }
  .swiper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(../images/device-bg@2x.png) no-repeat;
    background-size: 100%;
    /* overflow: inherit; */
  }
  .screen {
    overflow: hidden;
    position: absolute;
    top: 11px;
    bottom: 19px;
    left: 14px;
    right: 12px;

    @include breakpoint(md) {
      top: 7px;
      bottom: 10px;
      left: 8px;
      right: 8px;
    }

    img {
      width: 100%;
      height: 100%;
      @include border-radius(45px);

      @include breakpoint(md) {
        @include border-radius(25px);
      }
    }
  }

  @include breakpoint(sm) {
    @include margin(50px, 0, 0, 0);
    left: 0;
    background-size: 100%;
    width: 100%;
    height: auto;
  }

  .slider-holder {
    &__caption {
      background: $white-color;
      position: absolute;
      top: 265px;
      left: -110px;
      @include padding(20px, 20px, 20px, 20px);
      box-shadow: 0 10px 30px #5d5e634a;
      border-radius: 22px;
      width: fit-content;
      display: none;
      img {
        width: 100%;
      }

      @include breakpoint(sm) {
        display: none;
      }
      @include breakpoint(md) {
        display: none;
      }
    }
  }
  .swiper-slide-active .slider-holder__caption {
    animation: 1s 0.2s fadeInLeft both;
  }
  .swiper-pagination {
    bottom: -35px !important;
    /*  @include breakpoint(sm) {
            bottom: -105px !important;
        } */
  }
}

.top-hero-section {
  background: #b1fff626;
  overflow: hidden;
  .top-blue-section {
    @include padding(110px, 0, 80px, 0);
    background: url(../images/curve-bg.svg) no-repeat;

    background-position: center -235px;
    background-size: contain;
    overflow: hidden;
    position: relative;
    @include breakpoint(lp) {
      background-position: center -136px;
    }

    @include breakpoint(sm) {
      @include padding(110px, 0, 80px, 0);
      background-position: center -195px;
      background-size: inherit;
    }
    @include breakpoint(md) {
      @include padding(60px, 0, 0, 0);
      background-position: center -235px;
      background-size: inherit;
    }

    .main-caption {
      color: $white-color;
      @include margin(70px, 0, 150px, 0);

      @include breakpoint(lp) {
        @include margin(70px, 0, 70px, 0);
      }

      @include breakpoint(sm) {
        @include margin(0, 0, 100px, 0);
      }
      @include breakpoint(md) {
        @include margin(70px, 0, 80px, 0);
      }

      h1 {
        font-family: $font-bold;
        @include font-size(52px);
        @include margin(0, 0, 30px, 0);

        @include breakpoint(lp) {
          @include font-size(35px);
        }

        @include breakpoint(sm) {
          @include font-size(28px);
        }
        @include breakpoint(md) {
          @include font-size(32px);
        }
      }
      p {
        @include font-size(28px);
        @include margin(0, 0, 40px, 0);
        font-family: $font-thin;

        @include breakpoint(lp) {
          @include font-size(22px);
        }

        @include breakpoint(sm) {
          @include font-size(18px);
        }
        @include breakpoint(md) {
          @include font-size(18px);
        }
      }
      .caption-buttons {
        display: flex;
        @include breakpoint(sm) {
          flex-direction: column;
        }
        .button-outer {
          @include margin(0, 40px, 0, 0);
          @include breakpoint(sm) {
            @include margin(0, 30px, 0, 0);
          }
        }
        .watch-video-button {
          display: block;
          color: $white-color;
          @include flex-center-vert;
          position: relative;

          @include breakpoint(sm) {
            display: none;
          }

          &:before {
            width: 70px;
            height: 70px;
            background: rgba($black-color, 0.1);
            @include border-radius(50%);
            content: "";
            position: absolute;
            left: -10px;
            @include transition;
          }
          .bi {
            &:before {
              @include font-size(52px);
              color: $white-color;
              position: relative;
              z-index: 1;
            }
          }
          .text {
            @include margin(0, 0, 0, 25px);
          }
          &:hover {
            color: $black-color;
            &::before {
              background: rgba($black-color, 0.4);
            }
          }
        }
      }
    }
  }

  .app-content {
    h2 {
      color: $black-color;
      @include font-size(45px);
      font-family: $font-bold;
      @include margin(0, 0, 10px, 0);

      @include breakpoint(lp) {
        @include font-size(35px);
      }
      @include breakpoint(sm) {
        @include font-size(32px);
      }
      @include breakpoint(md) {
        @include font-size(32px);
      }
    }
    .app-stats {
      display: flex;
      justify-content: space-between;

      @include breakpoint(sm) {
        @include margin(0, 0, 30px, 0);
      }

      .col {
        flex-direction: column;
        display: flex;
        width: 33%;

        &__lg-text {
          color: #0f2253;
          @include font-size(40px);
          font-family: $font-bold;

          @include breakpoint(lp) {
            @include font-size(35px);
          }
          @include breakpoint(sm) {
            @include font-size(32px);
          }
          @include breakpoint(md) {
            @include font-size(32px);
          }
        }
        &__sm-text {
          color: #656689;
          @include font-size(16px);
          font-family: $font-thin;
        }
      }
    }
    .app-buttons {
      border-left: 2px solid $border-grey-color;
      @include padding(10px, 0, 0, 40px);

      @include breakpoint(sm) {
        border-left: 0;
        @include padding(0, 0, 0, 0);
        display: flex;

        a {
          width: 50%;
        }
      }
    }
  }
}

.growing-with-us {
  overflow: hidden;
  .custom-card {
    @include border-radius(10px);
    @include padding(15px, 15px, 15px, 15px);
    @include margin(15px, 15px, 60px, 15px);
    background: $white-color;
    @include transition();
    box-shadow: 0px 5px 15px #0000000f;

    @include breakpoint(sm) {
      @include margin(15px, 15px, 60px, 15px);
    }

    &__figure-holder {
      height: 145px;
      overflow: hidden;
      @include border-radius(8px);
      img {
        @include border-radius(8px);
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include transform(scale(1));
      }
    }
    .caption {
      @include padding(10px, 0, 0, 0);
      &__head {
        @include flex-center-vert;
        justify-content: space-between;
        @include margin(0, 0, 5px, 0);
      }
      &__title {
        color: #26334a;
        @include font-size(20px);
        font-family: $font-bold;
        @include margin(0, 15px, 0, 0);
      }
      &__rating {
        color: #26334a;
        @include font-size(15px);
        font-family: $font-thin;
        .bi {
          &::before {
            color: #ff990a;
          }
        }
      }
      &__likes {
        color: #26334a;
        @include font-size(15px);
        font-family: $font-thin;
        display: flex;
        .bi {
          &:before {
            color: #49d483;
            @include font-size(22px);
          }
        }
      }
      &__footer {
        display: flex;
        justify-content: space-between;
        font-family: $font-thin;
        color: #9d9d9d;
        font-size: 14px;

        @include breakpoint(sm) {
          flex-direction: column;
        }
        @include breakpoint(md) {
          flex-direction: column;
        }
      }
      &__location {
        display: flex;
        @include breakpoint(sm) {
          @include margin(0, 0, 10px, 0);
        }

        .bi {
          @include margin(0, 5px, 0, 0);
        }
      }
      &__time {
        display: flex;

        @include breakpoint(sm) {
          flex-direction: row-reverse;
          justify-content: flex-end;
        }
        @include breakpoint(md) {
          flex-direction: row-reverse;
          justify-content: flex-end;
        }

        .bi {
          @include margin(0, 0, 0, 5px);

          @include breakpoint(sm) {
            @include margin(0, 5px, 0, 0);
          }
          @include breakpoint(md) {
            @include margin(0, 5px, 0, 0);
          }
        }
      }
    }

    &:hover {
      @include card-hover();
      img {
        @include transform(scale(1.1));
      }
      .caption__title {
        color: $brand-color;
      }
    }
  }
}

.vertical-tabs-section {
  background: #fafafa;
  overflow: hidden;
  .nav {
    height: 550px;
    overflow: auto;
    @include scrollbars(4px, rgba($black-color, 0.4), transparent);
    @include breakpoint(sm) {
      flex-direction: row;
      flex-wrap: nowrap;
      white-space: nowrap;
      width: 100%;
      overflow: auto;
      height: auto;
    }

    .nav-link {
      @include margin(0, 0, 20px, 0);
      @include padding(0, 10px, 0, 45px);
      border: 2px solid #ebebeb;
      @include border-radius(10px);
      background: $white-color;
      color: #000958;
      height: 77px;
      width: 100%;
      @include font-size(22px);
      text-align: left;
      position: relative;
      @include transition;
      display: block;

      @include breakpoint(lp) {
        @include margin(0, 10px, 20px, 0);
        height: 60px;
        @include font-size(18px);
      }

      @include breakpoint(sm) {
        @include margin(0, 10px, 20px, 0);
        @include padding(0, 10px, 0, 30px);
        height: 50px;
        @include font-size(16px);
      }

      @include breakpoint(md) {
        @include font-size(18px);
        @include margin(0, 0, 10px, 0);
        @include padding(0, 0, 0, 30px);
        height: 50px;
      }

      &:before {
        height: 22px;
        background: #ebebeb;
        width: 2px;
        content: "";
        position: absolute;
        @include transition;
        top: 50%;
        left: 30px;
        @include transform(translateY(-50%));

        @include breakpoint(sm) {
          left: 15px;
        }

        @include breakpoint(md) {
          left: 15px;
        }
      }
      &:after {
        height: 0;
        background: $brand-color;
        width: 2px;
        content: "";
        position: absolute;
        @include transition;
        top: 50%;
        left: 30px;
        @include transform(translateY(-50%));
        @include breakpoint(sm) {
          left: 15px;
        }
        @include breakpoint(md) {
          left: 15px;
        }
      }

      &:hover {
        box-shadow: 0px 13px 46px #0000001a;
        border: 2px solid $brand-color;
        color: $brand-color;

        &:after {
          height: 22px;
        }
      }
      &.active {
        box-shadow: 0px 13px 46px #0000001a;
        border: 2px solid $brand-color;

        @include breakpoint(sm) {
          box-shadow: 0px 5px 10px #0000001a;
        }

        &:after {
          height: 22px;
        }
      }
    }
  }
  .tab-content {
    @include padding(0, 70px, 70px, 70px);

    @include breakpoint(sm) {
      @include padding(20px, 20px, 20px, 20px);
    }
    .device {
      position: relative;
      width: 100%;
      padding-bottom: 209.477897%;
      &::before {
        width: 130px;
        height: 40px;
        background: #0f0f0f;
        content: "";
        position: absolute;
        top: 0;
        @include border-radius(0 0 20px 20px);
        z-index: 11;
        left: 50%;
        transform: translateX(-50%);
        @include breakpoint(md) {
          height: 30px;
          width: 110px;
          @include border-radius(0 0 10px 10px);
        }
      }
      .wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url(../images/device-bg@2x.png) no-repeat;
        background-size: 100%;
        overflow: hidden;
      }
      .screen {
        overflow: hidden;
        position: absolute;
        top: 9px;
        bottom: 15px;
        left: 10px;
        right: 11px;
        img {
          width: 100%;
          height: 100%;
          @include border-radius(45px);
          @include breakpoint(sm) {
            @include border-radius(35px);
          }
          @include breakpoint(md) {
            @include border-radius(25px);
          }
        }
      }
      &.device-b {
        @include breakpoint(sm) {
          display: none;
        }
        @include breakpoint(md) {
          display: none;
        }
      }
    }
  }
}

.info-cards {
  overflow: hidden;
  .custom-card {
    background: #ffffff;
    border: 1px solid #efefef;
    overflow: hidden;
    @include border-radius(20px);
    @include transition;

    @include breakpoint(sm) {
      @include margin(0, 0, 30px, 0);
    }

    &__figure-holder {
      height: 220px;
      @include padding(40px, 40px, 40px, 40px);
      @include flex-center;

      @include breakpoint(md) {
        height: 170px;
        @include padding(30px, 30px, 30px, 30px);
      }

      img {
        height: 100%;
        object-fit: cover;
      }
    }
    &--figure-holder-purple {
      background: #d3d3ff;
    }
    &--figure-holder-blue {
      background: #d3f4ec;
    }
    &--figure-holder-pink {
      background: #ffe9d3;
    }

    .caption {
      @include padding(30px, 30px, 30px, 30px);
      height: 200px;
      @include breakpoint(sm) {
        height: auto;
      }
      @include breakpoint(md) {
        height: auto;
        @include padding(15px, 15px, 15px, 15px);
      }

      &__title {
        color: $black-color;
        @include font-size(22px);
        @include padding(0, 0, 20px, 0);
        font-family: $font-bold;
      }
      &__detail {
        color: #6a7177;
        font-size: 16px;
      }
    }

    &:hover {
      @include card-hover;
    }
  }
}

.download-our-app {
  background: $brand-color
    /* url(../images/back_bg@2x.png) no-repeat center center */;
  width: 100%;

  .figure-holder {
    height: 700px;
    @include flex-center;

    @include breakpoint(lp) {
      height: 550px;
    }

    @include breakpoint(sm) {
      width: 100%;
      height: auto;
      @include margin(0, 0, 30px, 0);
      overflow: hidden;
    }
    @include breakpoint(md) {
      @include margin(0, 0, 0, 0);
      height: auto;
      overflow: hidden;
      width: 100%;
    }

    img {
      width: 150%;
      @include breakpoint(sm) {
        width: 200%;
        @include margin(0, 0, 0, 110px);
      }
      @include breakpoint(md) {
        @include margin(0, 0, 0, 130px);
        width: 100%;
      }
    }
  }
  .right-content {
    height: 700px;

    @include breakpoint(lp) {
      height: 550px;
    }
    @include breakpoint(sm) {
      height: auto;
    }
    @include breakpoint(md) {
      height: auto;
    }
    .caption {
      flex-direction: column;
      @include flex-center;
      height: 600px;

      @include breakpoint(sm) {
        height: auto;
        text-align: center;
      }
      @include breakpoint(md) {
        height: auto;
      }

      .main-title {
        color: $white-color;
        @include font-size(40px);
        font-family: $font-bold;
        @include margin(0, 0, 30px, 0);

        @include breakpoint(lp) {
          @include font-size(35px);
        }

        @include breakpoint(sm) {
          @include font-size(28px);
        }
        @include breakpoint(md) {
          @include font-size(32px);
        }
      }
      .sub-title {
        color: $white-color;
        @include font-size(18px);
        @include margin(0, 0, 50px, 0);

        @include breakpoint(lp) {
          @include font-size(16px);
        }

        @include breakpoint(sm) {
          @include font-size(15px);
        }
        @include breakpoint(md) {
          @include font-size(15px);
        }
      }
      .app-buttons {
        display: flex;

        @include breakpoint(sm) {
          flex-direction: column;
          @include margin(0, 0, 30px, 0);
        }
        @include breakpoint(md) {
          @include margin(0, 0, 50px, 0);
        }

        .button {
          border: 2px solid $white-color;
          display: inline-block;
          @include border-radius(10px);
          color: $white-color;
          font-family: $font-bold;
          @include font-size(18px);
          @include padding(15px, 30px, 15px, 30px);
          @include margin(0, 20px, 0, 0);
          @include flex-center-vert;

          @include breakpoint(sm) {
            @include margin(0, 0, 20px, 0);
          }

          &:hover {
            @include card-hover;
            background: $white-color;
            color: $black-color;
          }
          img {
            @include margin(0, 15px, 0, 0);
            width: 25%;
          }
        }
      }
    }
  }
  .title-head {
    .main-title {
      color: $white-color;
    }
    .sub-title {
      color: $white-color;
    }
  }
}

.form-wrapper {
  .title-head {
    width: 100%;
  }
  .form-content {
    box-shadow: 0px 15px 50px #0607070f;
    background: $white-color;
    @include border-radius(20px);
    @include padding(40px, 40px, 40px, 40px);

    @include breakpoint(sm) {
      @include padding(20px, 20px, 20px, 20px);
    }

    .form-group {
      @include margin(0, 0, 30px, 0);
    }
    .form-control {
      @include border-radius(4px);
      height: 50px;
      @include font-size(16px);
      border: 1px solid black(0.1);
      background: #fcfcfc;
      @include transition;
      @include input-placeholder {
        color: black(0.3);
      }
      &:focus {
        box-shadow: none;
        @include input-hover;
        border: 1px solid $brand-color;
        background: #fafdff;
      }
    }
    label {
      color: #394761;
      @include margin(0, 0, 10px, 0);
    }
  }
  .figure-holder {
    @include flex-center;
    overflow: hidden;
    @include margin(100px, 0, 0, 0);

    @include breakpoint(sm) {
      display: none;
    }
    @include breakpoint(md) {
      display: none;
    }

    img {
      width: 250%;
      @include breakpoint(sm) {
        width: 100%;
      }
    }
  }
}
