.landing-header {
  background: $white-color;
  height: 90px;
  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    .logo {
      background: url("../images/ole_logo.svg") no-repeat;
      width: 74px;
      height: 40px;
      display: inline-flex;
      background-size: 74px 40px;
      align-items: center;
      white-space: nowrap;
      @include padding(0, 0, 0, 0);
      @include transition;
    }
  }
}
.main-landing-items {
  @include padding(40px, 0, 40px, 0);
  .landing-custom-card {
    @include border-radius(10px);
    @include margin(15px, 15px, 60px, 15px);
    background: $white-color;
    @include transition();
    box-shadow: 0px 5px 15px #0000000f;
    display: flex;
    flex-direction: column;

    @include breakpoint(sm) {
      @include margin(15px, 15px, 60px, 15px);
    }

    &__figure-holder {
      height: 280px;
      overflow: hidden;
      @include border-radius(8px);
      img {
        @include border-radius(8px);
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include transform(scale(1));
      }
    }
    &__title {
      color: $dark-grey-color;
      @include font-size(20px);
      font-family: $font-bold;
      @include padding(20px, 0, 20px, 0);
      text-align: center;
      border-top: 1px solid $light-grey-color;
    }

    &:hover {
      @include card-hover();
      img {
        @include transform(scale(1.1));
      }
      .caption__title {
        color: $brand-color;
      }
    }
  }
}
