.player-hero-section {
  overflow: hidden;
  @include padding(110px, 0, 80px, 0);
  background: url(../images/ole-player-base-header-bg.svg) no-repeat;
  background-position: center -55px;

  @include breakpoint(sm) {
    @include padding(110px, 0, 40px, 0);
  }

  .main-caption {
    color: $black-color;
    @include margin(70px, 0, 150px, 0);

    @include breakpoint(lp) {
      @include margin(70px, 0, 70px, 0);
    }

    @include breakpoint(sm) {
      @include margin(0, 0, 50px, 0);
    }
    @include breakpoint(md) {
      @include margin(70px, 0, 80px, 0);
    }

    h1 {
      font-family: $font-bold;
      @include font-size(80px);
      @include margin(0, 0, 30px, 0);
      text-transform: capitalize;

      @include breakpoint(lp) {
        @include font-size(60px);
      }

      @include breakpoint(sm) {
        @include font-size(28px);
      }
      @include breakpoint(md) {
        @include font-size(32px);
      }
    }
    p {
      @include font-size(28px);
      @include margin(0, 0, 40px, 0);
      font-family: $font-thin;

      @include breakpoint(lp) {
        @include font-size(22px);
      }

      @include breakpoint(sm) {
        @include font-size(18px);
      }
      @include breakpoint(md) {
        @include font-size(18px);
      }
    }
  }

  .app-content {
    h2 {
      color: $black-color;
      @include font-size(45px);
      font-family: $font-bold;
      @include margin(0, 0, 10px, 0);

      @include breakpoint(lp) {
        @include font-size(35px);
      }
      @include breakpoint(sm) {
        @include font-size(28px);
      }
      @include breakpoint(md) {
        @include font-size(32px);
      }
    }
    .app-stats {
      display: flex;
      justify-content: space-between;

      @include breakpoint(sm) {
        @include margin(0, 0, 30px, 0);
      }

      .col {
        flex-direction: column;
        display: flex;
        width: 33%;

        @include breakpoint(sm) {
          width: 25%;
        }

        &__lg-text {
          color: #0f2253;
          @include font-size(40px);
          font-family: $font-bold;

          @include breakpoint(lp) {
            @include font-size(35px);
          }
          @include breakpoint(sm) {
            @include font-size(32px);
          }
          @include breakpoint(md) {
            @include font-size(32px);
          }
        }
        &__sm-text {
          color: #656689;
          @include font-size(16px);
          font-family: $font-thin;
        }
      }
    }
    .app-buttons {
      border-left: 2px solid $border-grey-color;
      @include padding(10px, 0, 0, 40px);

      @include breakpoint(sm) {
        border-left: 0;
        @include padding(0, 0, 0, 0);
        display: flex;

        a {
          width: 50%;
        }
      }
    }
  }
  .figure-holder {
    @include flex-center;
    height: 100%;

    @include breakpoint(sm) {
      display: none;
    }

    img {
      width: 100%;
    }
  }

  header {
    .logo {
      background: url("../images/ole_logo.svg") no-repeat;
    }
  }
}

.info-section {
  height: 1000px;
  overflow: hidden;
  position: relative;

  @include breakpoint(sm) {
    height: auto;
  }

  .title-head {
    width: 100%;
  }

  figcaption {
    @include flex-center;
    height: 1000px;
    @include breakpoint(sm) {
      height: auto;
      padding-top: 200px;
    }
  }
  &.left {
    background: url(../images/bg-left@2x.png) no-repeat center center;
    background-size: cover;

    @include breakpoint(sm) {
      background: none;
    }

    .figure-holder {
      position: absolute;
      left: -365px;
      width: 65%;
      bottom: 100px;

      @include breakpoint(sm) {
        left: 0;
        top: 0;
      }
    }
  }
  &.right {
    background: url(../images/bg-right@2x.png) no-repeat center center;
    background-size: cover;
    @include breakpoint(sm) {
      background: none;
    }
    .figure-holder {
      position: absolute;
      right: 365px;
      width: 65%;
      bottom: 200px;

      @include breakpoint(sm) {
        left: 0;
        top: 0;
      }
    }
  }
}

.player-app-feature {
  background: url(../images/curve_image.svg) no-repeat top center;
  background-size: cover;
  @include padding(200px, 0, 200px, 0);

  @include breakpoint(sm) {
    @include padding(50px, 0, 50px, 0);
    background: $brand-color;
  }

  .feature-group {
    @include flex-center;
    flex-direction: column;
    height: 100%;
    &__item {
      @include margin(0, 0, 60px, 0);
      position: relative;
      &::before {
        width: 8px;
        height: 8px;
        background: #faad13;
        @include border-radius(50%);
        position: absolute;
        content: "";
        top: -29px;
        left: 6px;
      }
      &::after {
        width: 20px;
        height: 20px;
        background: rgba($white-color, 0.1);
        @include border-radius(50%);
        position: absolute;
        content: "";
        top: -35px;
        left: 0;
      }
    }
    &__title {
      @include font-size(20px);
      @include margin(0, 0, 15px, 0);
      color: $white-color;
    }
    &__desc {
      @include font-size(16px);
      color: #fafafb;
    }
    &.left {
      .feature-group__item {
        text-align: right;

        @include breakpoint(sm) {
          text-align: left;
        }

        &::before {
          right: 6px;
          left: initial;

          @include breakpoint(sm) {
            left: 6px;
          }
        }
        &::after {
          right: 0;
          left: initial;

          @include breakpoint(sm) {
            left: 0;
          }
        }
      }
    }
  }
}

.app-screenshoot-wrap {
  background: url(../images/bg@2x.png) no-repeat center center;
  background-size: cover;
  overflow: hidden;
  .figure-holder {
    img {
      width: 100%;
    }
  }
}

.download-our-app__player {
  figure {
    img {
      @include breakpoint(sm) {
        margin-left: 0 !important;
      }
    }
  }
}
