.line-up-hero-section {
  @include padding(110px, 0, 80px, 0);
  background: url(../images/line-up-hero-bg.png) no-repeat;
  background-size: cover;

  @include breakpoint(sm) {
    @include padding(110px, 0, 40px, 0);
  }

  .main-caption {
    color: $white-color;
  }
  .app-content {
    position: relative;
    z-index: 1;
    h2 {
      color: $white-color;
    }
    .col__lg-text {
      color: $white-color !important;
    }
    .col__sm-text {
      color: $white-color !important;
    }
    .app-buttons {
      border-color: $white-color;
    }
  }
  figure {
    img {
      width: 200% !important;
    }
  }
}

.amazing-features {
  .custom-card {
    background: #f4f8f9;
    @include border-radius(34px);
    @include padding(30px, 30px, 30px, 30px);
    @include margin(0, 0, 30px, 0);
    @include transition();
    display: flex;

    .icon-wrap {
      @include flex-center;
      width: 88px;
      height: 88px;
      background: transparent linear-gradient(227deg, #156978 0%, #0096af 100%)
        0% 0% no-repeat padding-box;
      box-shadow: 0px 30px 200px #17191a1a;
      border: 1px solid #ffffff0d;
      @include border-radius(20px);
      @include margin(0, 20px, 0, 0);
      i {
        display: flex;
        &::before {
          color: $white-color;
          @include font-size(30px);
        }
      }
    }

    figcaption {
      width: 80%;
      flex: 1;
      h3 {
        @include font-size(22px);
        @include margin(0, 0, 20px, 0);
        font-family: $font-bold;
      }
      p {
        @include font-size(16px);
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
    &:hover {
      @include card-hover();
      background: $white-color;
    }
  }
}

.awesome-features {
  overflow: hidden;
  .feature-item {
    @include margin(0, 0, 50px, 0);
    display: flex;
    .icon-wrap {
      @include flex-center;
      width: 94px;
      height: 94px;
      background: #327f88;
      @include border-radius(50%);
      @include margin(0, 20px, 0, 0);
      i {
        display: flex;
        &::before {
          color: $white-color;
          @include font-size(30px);
        }
      }
    }

    figcaption {
      width: 80%;
      flex: 1;
      h3 {
        @include font-size(22px);
        @include margin(0, 0, 20px, 0);
        font-family: $font-bold;
      }
      p {
        @include font-size(16px);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    &:first-child {
      margin-left: -60px;

      @include breakpoint(sm) {
        margin-left: 0;
      }
    }
    &:last-child {
      margin-left: -60px;
      @include breakpoint(sm) {
        margin-left: 0;
      }
    }
  }
  figure {
    @include margin(0, 0, 40px, 0);
  }
}

.line-up-app-screens-wrap {
  overflow: hidden;
  .swiper {
    overflow: visible;
  }

  .line-up-app-slider {
    position: relative;
    &::before {
      background: url(../images/bg-top-left.png) no-repeat;
      content: "";

      top: -150px;
      background-size: 100%;
      left: -100px;
      width: 30%;
      height: 100%;
      position: absolute;

      @include breakpoint(sm) {
        display: none;
      }
    }
    &::after {
      background: url(../images/bg-right-bottom.png) no-repeat;
      content: "";
      bottom: -150px;
      background-size: 100%;
      right: -100px;
      width: 30%;
      height: 100%;
      position: absolute;

      @include breakpoint(sm) {
        display: none;
      }
    }
    figure {
      // @include border-radius(30px);
      // @include flex-center;
      // @include margin(10px, 10px, 10px, 10px);

      // background: rgba(#0c525e, 0.2);
      img {
        width: 140%;
        @include breakpoint(sm) {
          width: 100%;
        }
      }
    }
  }
}

.how-does-app-work {
  background: #f4f8f9;
  position: relative;
  @include padding(50px, 0, 50px, 0);
  overflow: hidden;
  &::before {
    background: url(../images/bg-line-up@2x.png) no-repeat;
    content: "";
    bottom: 0;
    background-size: 100%;
    right: -150px;
    width: 50%;
    height: 500px;
    position: absolute;

    @include breakpoint(sm) {
      display: none;
    }
  }

  figure {
    position: relative;
    z-index: 11;
  }
  .app-benefits {
    @include margin(0, 0, 50px, 0);
    position: relative;

    @include breakpoint(sm) {
      @include margin(0, 0, 0, 0);
    }

    &::before {
      content: "";
      position: absolute;
      top: -5px;
      background: url(../images/line@2x.png) no-repeat center;
      height: 60px;
      width: 100%;
      background-size: 75%;
      @include breakpoint(sm) {
        display: none;
      }
    }
    &__item {
      @include flex-center-vert;
      flex-direction: column;
      @include margin(0, 0, 30px, 0);
    }
    &__icon-wrap {
      width: 56px;
      height: 56px;
      background: #327f88;
      @include border-radius(50%);
      @include flex-center;
      @include margin(0, 0, 30px, 0);

      @include breakpoint(sm) {
        @include margin(0, 0, 20px, 0);
      }

      i {
        &::before {
          color: $white-color;
        }
      }
    }
    &__title {
      font-family: $font-bold;
      @include font-size(22px);
      @include margin(0, 0, 20px, 0);
      text-align: center;
    }
    &__desc {
      @include font-size(16px);
      text-align: center;
    }
  }
  .app-buttons {
    display: flex;

    @include breakpoint(sm) {
      flex-direction: column;
      @include margin(0, 0, 0, 0);
      align-items: center;
    }
    @include breakpoint(md) {
      @include margin(0, 0, 50px, 0);
    }

    .button {
      border: 2px solid $white-color;
      display: inline-block;
      @include border-radius(10px);
      color: $black-color;
      background: $white-color;
      font-family: $font-bold;
      @include font-size(18px);
      @include padding(15px, 15px, 15px, 15px);
      @include margin(0, 20px, 0, 0);
      @include flex-center-vert;
      width: 30%;
      @include breakpoint(sm) {
        @include margin(0, 0, 20px, 0);
        width: 50%;
      }
      img {
        @include margin(0, 15px, 0, 0);
        width: 20%;
      }
      &:hover {
        @include card-hover;
        background: $black-color;
        color: $white-color;
      }
    }
  }
}
